header{
  padding-top: 100px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("grayscale-photo-of-volcano-997443.jpg");
  height:650px;

}

body{
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #ff1e56;
  background-color:#323232;
}

h1{
  margin: 60px auto 0 auto;
  font-family: 'Pacifico', cursive;;
  font-size: 5.6rem;
  color: #ff1e56;
  font-weight: normal;
  line-height: 2;
  text-shadow:7px 6px 3px #130303;
}
header> h2{
  position:relative;
  bottom:30px;
}


.my-pic{
  width: 20%;
  background-color: #323232;
  border-radius:30px;
}

h2{
  margin: 0;
  font-size: 2.4rem;
  color: #ffac41;
  font-family: 'Courgette', cursive;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: normal;
}

.hobby-row-1{
  width: 50%;
  margin: 65px auto 110px auto;
  text-align: left;
  line-height:2;
}

.hobby-row-2{
  width: 50%;
  margin: 100px auto 120px auto;
  text-align: left;
  line-height:2;
}
.cricket-pic{
  width: 38%;
  float: left;
  margin-right: 40px;
  clear: left;
  margin-top: 20px;
  height:207px;
}

.camera-pic{
  float: right;
  clear:right;
  height:184px
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 6%;
  border-color:#EEEEEE;
  border-width: 7px;
}

.middle-container{
  margin: 60px 0;
  border-radius: 20px;
}

.bio{
  width: 30%;
  margin : 20px auto 40px auto;
  line-height: 1.75;
}
.btn {
	background:linear-gradient(to bottom, #ff1e56 25%, #ffac41 100%);
	background-color:#ff1e56;
	border-radius:21px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Times New Roman';
	font-size:22px;
	padding:18px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffac41 25%, #ff1e56 100%);
	background-color:#ffac41;
}
.btn:active {
	position:relative;
	top:1px;
}

.info{
  line-height: 1.75;
  width: 35%;
  margin : 30px auto 60px auto;
}

footer{
  background-color: #000000;
  padding: 35px 0 25px 0;
}
a{
  color: #ffac41;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #f6f6f6;

}

.copy{
  font-size: .8rem;
  padding: 20px 0 0 0;
}

h3{
  color: #ffac41;
}
